@model IEnumerable<yackeenTask.Models.Articls>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{
    <article class="entry">

        <header class="entry-header">

            <h2 class="entry-title">
                <a href="../../home/article/@item.Id" title="">@item.subject</a>
            </h2>

            <div class="entry-meta">
                <ul>
                    <li>@item.articleDate</li>
                    
                </ul>
            </div>

        </header>

        <div class="entry-content">
            <p style="max-height:200px">@item.articleDetails.Substring(0, item.articleDetails.Length>600?600: item.articleDetails.Length)</p>
        </div>

    </article> <!-- end entry -->
}


